*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
.primary-palette-blue{
    color: #00152d;
    cursor: pointer;
}

.primary-palette-x{
    color: #00152d;
    cursor: pointer;
}



.container{
    max-width: 800px;
    margin: auto;
}

.header{
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header img{
    width: 100%;
    
}
.to-do-box{
    margin: auto;
    width: 550px;
    
    background-color: #f3f6f6;
    border-radius: 20px;

}

.add-section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.add-todo-text{
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    
}

.btn-add{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left:5px ;
}

.btn-add:hover{
    background-color: lightgreen;
}

li{
    list-style: none;
    padding-left: 10px;
}

h2{
    text-align: center;
}

.to-do-text-box{
    width: 400px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul{
    margin-top: 20px;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mb-5{
    margin-bottom: 5px;
}

.to-do-text-box i{
    cursor: pointer;
}

.to-do-text-box i:hover{
    color: red;
}

.border-bottom{
    border-bottom: 1px solid lightgrey;
}

.item{
    padding-bottom: 10px;
    padding-top: 5px;
}