<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue To Do List</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>


        
        <div id="app">
            <div class="container">
            
                <div class="header">
                    <img src="img/logo.png" alt="logo-boolean">
                </div>

                    <section class="add-section">
                        <form @submit.prevent="addToDo">
                            <label for="fname"></label>
                            <input class="add-todo-text" type="text" id="fname" name="fname" placeholder="Inserisci l'attività da svolgere" v-model="newToDo" minlength="2" required>

                            <button class="btn-add" type="submit">Aggiungi</button>
                        </form>

                    </section>
                <div class="to-do-box">
                    <section class="to-do-list">
                        <div class="to-do-text-box">
                            <ul v-if="toDoList.length > 0">
                                <div v-for="(todo, index) in toDoList" class="item d-flex mb-5 border-bottom">
                                    <li  class="primary-palette-blue">
                                        {{todo}}
                                    </li>
                                    <i @click="removeToDo" class="fa-solid fa-x primary-palette-x"></i>
                                </div>

                                <!-- <div class="item d-flex mb-5 border-bottom">
                                    <li class="primary-palette-grey">
                                        Lavare i piatti
                                    </li>
                                    <i class="fa-solid fa-x primary-palette-grey"></i>
                                </div>

                                <div class=" item d-flex mb-5 border-bottom">
                                    <li class="primary-palette-grey">
                                        Andare dalla nonna
                                    </li>
                                    <i class="fa-solid fa-x primary-palette-grey"></i>
                                </div> -->
                                
                                
                            </ul>
                            <h2 v-else class="primary-palette-grey"> <span><i class="fa-solid fa-check"></i></span> Hai svolto tutte le attività. Relax!</h2>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/main.js"></script>
        
    </body>
</html>